        <div class="bg-primary-200 d-flex align-center justify-center py-24">
        <h4 class="me-24 h4">加入會員取得 9 折優惠</h4>
        <button type="button" class="btn btn-dark btn-register">馬上註冊</button>
    </div>
    <footer class="footer py-64 align-center py-sm-32">
        <div class="container mb-24">
            <nav class="d-flex align-center justify-between d-sm-block">
                <a href="#"><img src="/assets/images/logo.svg" alt="logo" class="mb-sm-8"></a>
                <ul class="d-flex d-sm-block py-sm-12">
                    <li class="me-40 mb-sm-4 me-sm-0"><a href="#" class="py-12">商品列表</a></li>
                    <li><a href="#" class="py-12">品牌故事</a></li>
                </ul>
            </nav>
        </div>
        <div class="container footer-divider">
            <p class="pt-32 mb-4 ">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </footer>